@model WheelOfFortune.Models.DepositEntry
@{
    ViewData["Title"] = "DepositDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deposit Details</h2>


<table style="width:100%;" class="table">
    <tr>
        <th>
            Voucher Id
        </th>
        <th>
            Voucher Code
        </th>
        <th>
            Credits
        </th>
    </tr>
        <tr>
            <td>&nbsp;
                @Model.VoucherId
            </td>
            <td>&nbsp;
                @Model.BelongsToVoucherEntry.VoucherCode
            </td>
            <td>&nbsp;
                @Model.BelongsToVoucherEntry.CreditAmount
            </td>
        </tr>
</table> 
<div>
    <input type="button" class="btn btn-info" value="Back to History" onclick="location.href='@Url.Action("History", "Play")'" />
</div>
