@model WheelOfFortune.Models.DetailsEntry
@*@model WheelOfFortune.Models.SpinEntry
@model WheelOfFortune.Models.DepositEntry*@
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>


            @Model.depositEntry
            @Model.spinEntry
