@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" align="center">
     <h1>Spin the wheel and multiply your money</h1>
     <img src="~/images/WheelOfFortune.png" class="" alt="WheelOfFortune">
     <p>Register now and get 100 Euros to get started</p>

     <a href="/Account/Register" class="btn btn-primary btn-lg" role="button">Register</a>
     </div>